$def with (template)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contextualize</title>
    </head>
    <body>
        <h1>Generate a <a href="http://wiki.contextgarden.net">ConTeXt</a> document</h1>
        <form action="" method="post">
            <div>
                <textarea name="template" cols=80 rows=25>$template</textarea>
            </div>
            <div>
                <button type="submit" name="submit">Generate</button>
            </div>
        </form>
    </body>
</html>
